<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proyecto de el CHIAPAS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="../../assets/logo.png">
  </ion-img>
  <ion-card-header>
    <ion-card-title>
      Luis Alexis Gomez de la Cruz
    </ion-card-title>
    <ion-card-subtitle>
      INSTITUTO TEGNOLOGICO SUPERIOR DE LA SIERRA
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>
       Este proyecto es para pasar la unidad y aprender cosas nuevas.
       Ionic es un framework que facilita el desarrollo de aplicaciones móviles híbridas. Estas aplicaciones se ejecutan en un contenedor web nativo, permitiendo a los desarrolladores escribir una única base de código que funcione en múltiples plataformas, incluidas iOS, Android y la web. Ionic se integra estrechamente con frameworks como Angular, React y Vue, proporcionando una experiencia de desarrollo robusta y familiar.
    </p>

  </ion-card-content>
